{
  "extends": ["airbnb", "plugin:jest/recommended", "plugin:prettier/recommended", "prettier/react"],
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "es6": true,
    "browser": true,
    "jquery": true
  },
  "plugins": [
    // "react-hooks"
  ],
  "rules": {
    "react/state-in-constructor": "off",
    "import/no-extraneous-dependencies": "off"
    // "react-hooks/rules-of-hooks": "error",
    // "react-hooks/exhaustive-deps": "warn"
  }
}