.footer {
  padding: 30px 0;

  &__nav {
    display: flex;
    justify-content: space-between;
  }
}

.nav-link {
  &--footer {
    color: #fff;

    &:hover,
    &:focus,
    &:active {
      color: darken(#fff, 10%);
    }
  }
}
